@model VotingSystem.Models.ResultModel
@{
    ViewBag.Title = "Quick Poll";
}

<div class="row">
    <div class="text-center">
        <h1>@Model.QuestionContent</h1>
    </div>



    @foreach (var answer in Model.Answers)
    {
        <div class="col-md-offset-1 col-md-10">
            <div class="col-md-6">
                @Html.Label(answer.answerContent)
            </div>
            <div class=" col-md-offset-2 col-md-4">
                <strong> @answer.PercentageForm</strong>
            </div>
        </div>
        <div class="progress  col-md-12">

            <div class="progress-bar" style="width:@answer.rawPercentage">
                @answer.rawPercentage
            </div>

        </div>

    }
    @if (Model.NamesRequired && Model.NamedVotes.Count() > 0)
            {
        <br /><br /><br />
        foreach (var namedVote in Model.NamedVotes)
        {
            <div class="col-md-offset-1 col-md-10 text-center">
                @namedVote.PrepareNamedVotes()
            </div>
        }

    }

</div>