@model VotingSystem.Models.InputModels.SubmitVoteInputModel

@{
    ViewBag.Title = "Quick Poll";
}


<div class="row">
    @using (Html.BeginForm("SubmitVote", "Vote", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.QuestionUrlId)
        <div class="form-group">
            @if (Model.AlrdyVoted)
            {
                <div class="text-center  text-danger">
                    <h1><strong>You have already voted!</strong></h1>
                </div>
            }
            <div class="text-center">
                <h1>@Model.QuestionContent</h1>
            </div>
            <div>
                @for (int i = 0; i < Model.Answers.Count(); i++)
                {
                    <div class="col-md-offset-2 col-md-10">
                        @Html.RadioButtonFor(m => m.AnswerPicked, i)
                        @Html.Label(Model.Answers[i])
                    </div>
                }
            </div>
            <div>
                @if (Model.NamesRequired)
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName, new { @class = "col-md-offset-1 col-md-2 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullName)
                        </div>
                    </div>

                }
                <div>
                    <input type="submit" class="btn btn-success col-md-offset-3 col-md-2" value="Create Poll" />
                </div>
            </div>
        </div>
    }
</div>
